.header {
    color: var(--color-10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h2 { 
    user-select: none;
    text-align: center;
    font-size: var(--heading);
    line-height: var(--heading-height);
    letter-spacing: var(--heading-spacing);
    margin-block: 2.5rem;
}